<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
		<script src="js/vue.js"></script>
		<link rel="stylesheet" type="text/css" href="css/base_layout.css"/>
	</head>
	<body>
		<div id="app">
		  {{message}}
		  <input type="text" v-model="message" />
		</div> 
		
		
		<div id="app-2">
			<p v-if="seen">
				222222
			</p>
		</div>
		
		  
		<div id="app-2">
			<span v-bind:title="message">
				Hover
			</span>
		</div>
		 
		
		<div id="app-4"> 
			<p v-if="message">
				4444
			</p>
		</div> 
		
		<div id="app-3">
			<p v-if="seen">
				456456
			</p>
		</div>
		
		
		<div id="app-5">
			<ol>
				<li v-for="todo in todos">
					{{todo.text}}
				</li>
			</ol>
		</div>
		
		<div id="app-6">
			<p>{{message}}</p>
			<button v-on:click="reverseMessage">↑反转</button>
		</div>   
		
		<div id="app-7">
		  <ol>
		    <!-- 现在我们为每个todo-item提供待办项对象    -->
		    <!-- 待办项对象是变量，即其内容可以是动态的 -->
		    <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item><!--组件中循环、绑定-->
		   <todo-item2 v-for="item in groceryList" v-bind:joey="item"></todo-item2>
		  </ol> 
		</div>
	</body> 
	<script type="text/javascript" src="js/demo.js" ></script>
</html>
