<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
		<script src="js/vue.js"></script>
		<link rel="stylesheet" type="text/css" href="css/base_layout.css"/>
	</head>
	<body>
		<div id="app1">
			<h3>#文本</h3>
			<div><b>v-once</b>:解除数据绑定</div>
			<span v-once>message-v-once:{{message}}</span><br />
			<span>message:{{message}}</span><br />
			
			<input type="text" v-model="message"  />
			<h3>#纯html</h3>
			<div><b>v-html</b>绑定数据，且以html对其进行解析</div>
			<div v-html="message"></div>
			
			<h3>#属性</h3>
			<div><b>v-bind:对dom属性进行绑定</b></div>
			<div v-bind:id="domId">这个div的id为{{domId}}</div> 
			<h3>#使用javascript表达式</h3>
			<div>{{number+10086}}</div>
			<div>注意返回的数据如果是字符串需加单引号:{{IsTrue?'返回true':'返回false'}}</div>
			<div>{{message.split('').reverse().join('')}}</div>
			<div>{{message.split('').reverse().join('').split('').reverse().join('')}}</div>
			<h3>#指令</h3>
			<div v-if="IsTrue">v-if="boolean"</div>
			<h3>#参数</h3>
			<a v-bind:href="url">百度</a> 
			<a v-on:click="doSomething" href="javascript:void(0);">点我</a> 
			<h3>#修饰符</h3>
			<form v-on:submit.prevent="onSubmit">
				<input type="submit" />
			</form> 
			<h3>#过滤器</h3>
			<div>{{ message| capitalize }}</div>
			<div>过滤器可以串联： message | filterA | filterB </div>
			<div>过滤器是 JavaScript 函数，因此可以接受参数：</div>
			<div> message | filterA('arg1', arg2) </div>
			<div>这里，字符串 'arg1' 将传给过滤器作为第二个参数， arg2 表达式的值将被求值然后传给过滤器作为第三个参数。</div>
			<h3>#缩写 就两个</h3>
			<div>
				<!-- 完整语法 -->
				v-bind:href="url"
				<br />
				<!-- 缩写 -->
				:href="url"
			</div>
			<div>
				<!-- 完整语法 -->
				v-on:click="doSomething"
				<!-- 缩写 -->
				@click="doSomething"
			</div>
			<h3>#计算属性（相当于属性的getter）</h3>
			<p>Original message: "{{ message }}"</p>
  			<p>Computed reversed message: "{{ reversedMessage }}"</p>
  			<p>但这种效果其实完全可以通过调用一个方法来实现：
  				<p>// in component</p>
				<p>methods: {</p>
				  <p>	reversedMessage: function () {</p>
				    <p>	return this.message.split('').reverse().join('')</p>
				  <p>}</p>
				<p>}</p>
  			</p>
  			<p style="color:crimson;"><b>所以差别在？</b></p>
  			<div>我们可以将同一函数定义为一个 method 而不是一个计算属性。对于最终的结果，两种方式确实是相同的。然而，不同的是计算属性是基于它们的依赖进行缓存的。计算属性只有在它的相关依赖发生改变时才会重新求值。这就意味着只要 <font style="color: coral;">message</font> 还没有发生改变，多次访问 <font style="color: coral;">reversedMessage</font> 计算属性会立即返回之前的计算结果，而不必再次执行函数。
这也同样意味着下面的计算属性将不再更新，因为 <font style="color:coral;"> Date.now() </font>不是响应式依赖：</div>
			<p>computed: {</p>
			  <p>now: function () {</p>
			    <p>return Date.now()</p>
			  <p>}</p>
			<p>}</p>
			<b style="color: chocolate;">相比而言，只要发生重新渲染，method 调用总会执行该函数。</b>
			<p style="color: crimson;">joey:所以计算属性相当于是针对（依赖于）属性的getter方法，可以理解为缓存，属性值不变，对应的计算属性getter返回值不变且只计算第一次，大大节省开销。</p>
			<br />
			<p>我们为什么需要缓存？假设我们有一个性能开销比较大的的计算属性 A ，它需要遍历一个极大的数组和做大量的计算。然后我们可能有其他的计算属性依赖于 A 。如果没有缓存，我们将不可避免的多次执行 A 的 getter！如果你不希望有缓存，请用 method 替代。</p>
			
			<img src="img/1.png" alt="" />
			<img src="img/2.png" alt="" /><br />
			<img src="img/3.png" alt="" /><br />
			<img src="img/4.png" alt="" />
		</div>  
	</body>  
	<script type="text/javascript" src="js/demo2.js" ></script>  
</html>  
     