<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
		<script src="js/vue.js"></script>
		<link rel="stylesheet" type="text/css" href="css/base_layout.css"/>
	</head>
	<body>
		<div id="app">
			<h3>#v-for</h3> 
			<ul>
				<li v-for="item in items">{{item.message}}</li>	 
			</ul>
			<p>在 v-for 块中，我们拥有对父作用域属性的完全访问权限。 v-for 还支持一个可选的第二个参数为当前项的索引。</p>
			<ul>
				<li v-for="(item ,index) in items">
					parent-{{index}}-{{item.message}}
				</li>
			</ul>
			<p>
			你也可以用 of 替代 in 作为分隔符，因为它是最接近 JavaScript 迭代器的语法：
			</p>
			v-for="item of items"
			<h3>#Template v-for</h3>
			<ul>
				<template v-for="(item,index) in items">
					<li>
						{{index}}:{{item.message}}
					</li>
					<li>
						模板
					</li>
				</template>	
			</ul>
			
			<h3>#对象迭代v-for</h3>
			<p>这个很实用，相当于对一个对象的所有属性进行迭代</p>
			<ul>
				<li v-for="(value,key,index) in object">
					{{index}}
					：{{key}}
					：{{value}}
				</li>
			</ul>
			
			<h3>#整数迭代</h3>
			<p>相当于就是个for循环了（上面的都是foreach循环）</p>
			<div>
				<span v-for="n in num">
					{{n}}
				</span>
			</div>
		</div>
		
		
		<div id="todo-list-example">
			<h3>#组件和v-for</h3>
			<p>这里有个大坑！！！！：使用组件时，组件的申明必须在Vue对象之前！！！</p>
			<input v-model="newTodoText" placeholder="Add a todo" v-on:keyup.enter="addNewTodo"></input>
			<ul>
				<li>第一种方式：</li>
				<todo-item v-for="(item,index)  in todos" v-bind:todo="item"></todo-item> 
				<li></li>
				<li>第二种方式：</li>
				<li is="todo-item2"  v-for="(todo, index) in todos" v-bind:title="todo" v-on:remove="todos.splice(index, 1)"></li>
			</ul>
			
		</div>
		
		<div id="app3">
			<h3>#v-for with v-if</h3>
			<p>
				当它们处于同一节点， v-for 的优先级比 v-if 更高，这意味着 v-if 将分别重复运行于每个 v-if 循环中。当你想为仅有的 一些 项渲染节点时，这种优先级的机制会十分有用，如下：
			</p>
			<li v-for="todo in todos" v-if="todo.isComplete">
			  {{ todo.name }}
			</li>
			<p>上面的代码只传递了未complete的todos。</p>
			<p>而如果你的目的是有条件地跳过循环的执行，那么将 v-if 置于包装元素 (或 template)上。如:</p>
			<ul v-if="getTodosLenth > 0">
				<li v-for="(todo,index) in todos">
					{{todo.name}}
					:{{todo.isComplete}}
				</li>
			</ul>
			
			<h3>key很关键</h3>
			<p>循环渲染dom时，给每个dom加上一个key，而这个key值最好是由dom绑定的对象提供。</p>
			<ul>
				<li v-for="todo in todos" v-bind:key="todo.id">
					id:{{todo.id}}
					name:{{todo.name}}
				</li>
			</ul>
			<p>因为它是 Vue 识别节点的一个通用机制， key 并不特别与 v-for 关联，key 还具有其他用途，我们将在后面的指南中看到其他用途。</p>
			
			<h3>#变异方法</h3>
			<p>
			Vue 包含一组观察数组的变异方法，所以它们也将会触发视图更新。这些方法如下：	
			</p>
			<ul>
				<li>push()</li> 
				<li>pop()</li>
				<li>shift()</li>
				<li>unshift()</li>
				<li>splice()</li>
				<li>sort()</li>
				<li>reverse()</li>
			</ul>
			
			
			<h3>#重塑数组   <a href="http://cn.vuejs.org/v2/guide/list.html#注意事项">看不太懂~</a></h3>
		    <p> example1.items = example1.items.filter(function (item) {</p>	
			  <p>return item.message.match(/Foo/)</p>	
			<p>})</p>
			
			<h3>#注意事项</h3>
			<p>由于 JavaScript 的限制， Vue 不能检测以下变动的数组：</p>
			<p>1、当你利用索引直接设置一个项时，例如： vm.items[indexOfItem] = newValue</p>
			<p>2、当你修改数组的长度时，例如： vm.items.length = newLength</p>
			<p>为了解决第一类问题，以下两种方式都可以实现和 vm.items[indexOfItem] = newValue 相同的效果， 同时也将触发状态更新：</p>
			// Vue.set
			<br />
			Vue.set(example1.items, indexOfItem, newValue)
			<br />
			// Array.prototype.splice`
			<br />
			example1.items.splice(indexOfItem, 1, newValue)
			<br />
			<p>为了解决第二类问题，你也同样可以使用 splice：</p>
			<p>example1.items.splice(newLength)</p>
			<br />
			
			<h3>#显示过滤/排序结果</h3>
			<p>有时，我们想要显示一个数组的过滤或排序副本，而不实际改变或重置原始数据。在这种情况下，可以创建返回过滤或排序数组的计算属性。</p>
			<p>偶数evenNum：</p>
			<p>计算属性实现</p>
			<ul>
				<li v-for="n in evenNumbers">{{ n }}</li>
			</ul>
			<p>方法实现奇数</p>
			<ul>
				<li v-for="n in even(numbers)">{{n}}</li>
			</ul>
			
			
		</div>
		
		
	</body> 
	<script type="text/javascript" src="js/demo5.js" ></script>
</html>
